.home-content-wrapper.hidden{
    .home-content-container {
        margin-top: 0%;
    }
}
.home-content-container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.home-first-section {
    background-image: url('/public/HomeBGImage.jpg');
    background-color: rgba(58, 68, 80, 0.77);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 0px 0 25px;
    h2 {
        color: white;
        text-align: left;
        padding: 100px 0 20px 0;
        line-height: 35px;
        font-size: 30px;
        font-weight: normal;
    }
}

.home-second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 100px 0;
    h3 {
        color: #4b69b2;
        font-size: 36px;
        font-weight: normal;
        padding: 10px 0;
    }
    .simbols-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px 0 60px 0;
        .simbol {
            padding: 0 50px;
            img {
                width: 70px;
                height: auto;
            }
            p {
                padding-top: 10px;
                font-size: 17px;
                color: #5f5f5f;
            }
        }
    }
    .help-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.home-third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: #f8f8fc;
    .content-third-section {
        h2 {
            color: #5f5f5f;
            font-size: 36px;
            text-align: left;

            line-height: 45px;
            font-weight: normal;
        }
        .bulletin-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .bulletin {
                background-color: white;
                width: 80vw;
                height: auto;
                display: flex;
                flex-direction: row;
                margin-bottom: 50px;
                align-items: center;
                .bulletin-main-content {
                    width: 60%;
                    padding: 20px 0 40px 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    h3 {
                        color: #5f5f5f;
                        font-size: 25px;
                        font-weight: normal;
                    }
                    p {
                        color: #5f5f5f;
                        font-size: 17px;
                        padding-bottom: 40px;
                    }
                }

                .bulletin-image {
                    width: 40%;
                    height: 270px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

footer {
    background-color: #4b69b2;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
        img {
            width: 5vw;
            height: auto;
        }
        p {
            color: white;
            font-size:12px;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}
