.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: seravek-web, sans-serif;
  min-width: 180px;
  border: none;
  background: #4b69b2;
  color: white;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  a {
    font-size: 16px;
    color: white !important;
    text-decoration: none;
  } 
}
button:hover{
  box-shadow: 0 4px 8px 4px rgb(0 0 0 / 18%);
  background: #6382cd;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
